.datban{
    background: url(../img/backround-datban.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
.yeucau {
    margin-left:25%;
    margin-right: 50%;
    width: 730px;
}
.clickdone {
    width: 100px;
    border-color: brown;
    border-radius: 0.75rem;
    justify-content: center;
    border-width: 2px;
    background-color: brown;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 20px;
}